<div class="container">
	<div class="form-group">
		<legend><h1>Crear Kio</h1></legend>
	</div>
	<div class="col-md-4 centro">
	<form action="/room/new" method="POST" class="form-inline" role="form">
	
		<div class="form-group">
			<input type="text" class="form-control in input-lg" placeholder="nombre kio" name="name" required="true">
		</div>
		<button type="submit" class="btn in btn-default btn-lg">Submit</button>
	</form>		
	</div>
</div>
