
<div class="jumbotron">
	<div class="container">
		<h1>Cahtkio</h1>
		<p>una aplicación de chat rápida y sencilla,<br> lo mejor,¿no?</p>
		<p>
			<a class="btn btn-info btn-lg" href="/room/bienvenido">Unirse</a>
			<a class="btn btn-info btn-lg" href="/room/new">crear</a>
		</p>
	</div>
</div>

